body
{
	margin: 0;
/*	font-size: 85%; */
	font-size: 0.85em;
	line-height: 135%;
	padding: 0px;
}

/* whole-page does not include the OSU bar at the top */
#whole-page {
	margin: 12px;
}

#skippagenav
{
	position: absolute;
	top: -200px;
	left: -200px;
	background: red;
	background-color: red;
	z-index: 3;
}

.hidden { display: none; }

#twocolumnleft, #twocolumnright, #threecolumn, #singlecolumn
{
	position: relative;
	width: 99%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 12px;
	background: white;
	background-color: white;
}

#content {
	margin-bottom: 12px;
}

#content p
{
	margin-top: 0px;
	margin-bottom: 7px;
}

#content H1, #content H2, #content H3
{
	font-size: 1.2em;
	color: black;
	background: transparent;
	background-color: transparent;
	margin-bottom: 3px;
	padding-bottom: 0px;
}

#content H1 { text-align: center; }
#content H2 { font-size: 1.1em; }
#content H3 { font-size: 1em; }

br.clearall { clear: both; }