	/**********************************************
		Content Layouts: 3 columns. based from http://www.positioniseverything.net/thr.col.stretch.html
	***********************************************/
	
	#threecolumn {
		position: relative;
		width: 95%;
		background: white;

}


	#threecolumn #smallcolumn
	{
position: absolute;
right: 1%;
width: 24%;
background: white;

}
	
	#threecolumn #maincolumn
	{
margin: 0 34% 0 26%;
background: white;
width: 47%;

}
	
	#threecolumn #left
	{
position: absolute;
width: 24%;
background: white;
margin-top: 0px;

}
	
	
	
	#threecolumn #left h1, #threecolumn #left h2, #threecolumn #left h3, #threecolumn #left h4,
	#threecolumn #smallcolumn h1, #threecolumn #smallcolumn h2, #threecolumn #smallcolumn h3, #threecolumn #smallcolumn h4
	{
margin-top: 0px;

}
	