	/* * * * * * * * * * * * * * * * * *
		Page title
		* * * * * * * * * * * * * * * * * */

	#pagetitle
	{
		background: white;
		margin: 3px;
		margin-top: 13px;
		width: 100%;
	}

	#pagetitle .arrow
	{
		margin: 0 0.7em;
	}

	#pagetitle #logo
	{
		margin-right: 9px;
	}
