@charset  "iso-8859-1";

/* Begin ORRP CSS2 styles */
body
{
	/* overall document settings */
	/* Default text setting. Over-ridden in some cases. */
	margin: 0;
	padding: 0;
	width: 100%;
}
#content {width: 100%; 
background: orange;}


	#threecolumn {
		width: 100%;

}

	#threecolumn #smallcolumn
	{
position: absolute;
width: 180px;
background: red;
margin-left:490px;
}
	
	#threecolumn #maincolumn
	{
position: absolute;
width: 300px;
margin-left: 185px;
background: green;
}
	
	#threecolumn #left
	{
position: absolute;
margin-left:0px;
 width: 180px;
background: blue;
}
	
	#footer {
	display: none;	
	}