body {
    font-size: 1em;
    text-align: left;
    color: black;
    background: white;
    margin: 0;
    padding: 0;
}

.banner {
    padding: 1em 2em;
    margin: 0;
    margin-bottom: 1em;
}

.message {
    border-top:    2px solid green;
    border-bottom: 2px solid green;
    padding: 2em;
    text-align: left;
    font-size: 110%;
}

.place-date {
    padding: 1em 3em;
    margin-bottom: 2em;
}

form {
    text-align: center;
}

fieldset {
    margin: 1em 5%;
    border: 2px solid green;
    padding-bottom: 2em;
}

legend {
    border: 2px solid green;
    padding: 0.2em 0.5em;
    font-weight: bold;
}

table {
    width: 100%;
}

th {
    height: 3.5em;
    vertical-align: bottom;
    padding-right: 2em;
    padding-left: 1em;
    text-align: left;
    font-weight: normal;
}

.left, .right {
    vertical-align: bottom;
    padding: 0 1em 0.2em 1em;
    white-space: nowrap;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.radio-button {
    text-align: center;
    width: 8%;
    height: 1em;
}
