body
{
	font-family: tahoma, helvetica, sans-serif;
	text-align: center;
}

table, tr, td
{
	margin: 0;
	padding: 0;
	vertical-align: top;
	border: 1px solid black;
}

td.pad, p.pad
{
	width: 200px;
	height: 10px;
}
