	/**********************************************
		Content Layouts: 3 columns. based from http://www.saila.com/usage/layouts/saila_layout.html
	***********************************************/
	#threecolumn {
		position: relative;
		width: 95%;
		background: white;

}

	#threecolumn #smallcolumn
	{
float: left; 
width: 19%;
background: white;
margin-left: 1%;
}
	
	#threecolumn #maincolumn
	{
float: left; width: 50%;
margin-left: 4%;
background: white;
margin-right: 3%;

}
	
	#threecolumn #left
	{
float: left; width: 19%;
background: white;
}
	
	
