#maincolumn .preface {
  border: 2px solid #888;
  background-color: #ddd;
	padding: 1em;
	margin: 0 3em 2em 3em;
}
#maincolumn th {
	text-align: left;
}
#maincolumn h2 {
	margin-top: 2em;
}
#maincolumn .detail {
	padding: 0 1em 1em 3em;
}
#maincolumn .bullet {
	padding-left: 2em;
	font-weight: bolder;
	font-size: larger;
}
#maincolumn .hours {
  text-align: center;
	padding-left: 2em;
}
#maincolumn .roman {
	font-family: "Times New Roman", Times, serif;
}

#maincolumn .hr {
	color: gray;
	background-color: gray;
	height: 2px;
}
#maincolumn .hr hr {
	display: none;
}