/* * * * * * * * * * 
	Ohio State masthead style. September 2004.
	For more information see: http://www.osu.edu/resources/
* * * * * * * * * */

body
{
	font-family: "trebuchet ms", Helvetica, Arial, sans-serif;
	font-size: 85%;
	line-height: 135%;
}

#masthead
{
	width: 100%;
	min-width: 695px;
	position: relative;
	line-height: 100%;
	margin: 0px;
	padding: 0px;
	background: #d1d1d1 url(http://www.osu.edu/images/template_masthead/gradient.png) no-repeat 0px 0px;
}

h1.masttitle, h2.masturl
{
	margin: 0px;
	float: left;
	position: relative;
	padding: 8px;
	font-family: "trebuchet ms", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 100%;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
}

h1.masttitle
{
	padding-left: 11px;
	padding-right: 11px;
	background-color: #990000;
	border-right: 1px solid #ccc;
}

h1.masttitle a, h2.masturl a
{
	text-decoration: none;
	color: white;
}

h1.masttitle a:hover
{
	color: #F9F7DC;
	text-decoration: underline;
}

h2.masturl a:hover
{
	color: #F9F7DC;
	text-decoration: underline;
}

/*for version with input box*/
#mastnavigation
{
	position: relative;
	float: right;
	padding: 0px;
	padding-top: 4px;
	margin: 0px;
	font-family: "trebuchet ms", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 100%;
	font-weight: normal;
}

#mastnavigation ol
{
	display: inline;
	margin-bottom: 0;
	list-style-type: none;
	color: #fff;
	margin-right: 6px;
}

#mastnavigation ol li { display: inline; }
#mastnavigation ol li img { vertical-align: middle; }

#mastnavigation ol li a
{
	color: #222;
	padding: 0em 5px;
	text-decoration: none;
	border-right: 0px solid #ccc;
}

#mastnavigation ol li a:hover
{
	background: #eee;
	color: black;
}

#mastnavigation input { vertical-align: middle; }

#mastnavigation input.textfield
{
	padding: 0px;
	font-family: "trebuchet ms", Helvetica, Arial, sans-serif;
	background: #DDE0C6;
	font-size: 100%;
	width: 65px;
	border: 1px solid gray;
	height: 1.4em;
}

/*for version with link to search page*/
#mastnavnoinput
{
	position: relative;
	float: right;
	padding-top: 8px;
	margin: 0px;
	font-family: "trebuchet ms", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 100%;
	font-weight: normal;
}

#mastnavnoinput ol
{
	display: inline;
	margin-bottom: 0;
	list-style-type: none;
	color: #fff;
	margin-right: 6px;
}

#mastnavnoinput ol li { display: inline; }
#mastnavnoinput ol li img { vertical-align: middle; }

#mastnavnoinput ol li a
{
	color: #222;
	padding: 0em 5px;
	text-decoration: none;
	border-right: 0px solid #ccc;
}

#mastnavnoinput ol li a:hover
{
	background: #eee;
	color: black;
}

br.clearall { clear: both; }

/* * * * * * * * * * * * * * * * * * * * 
	<hr> tag hack for more ie 5,6.x compatibility. found here:
	http://www.sovavsiti.cz/css/hr.html
* * * * * * * * * * * * * * * * * * * */

div.hr
{
	margin-top: 1px;
	width: 100%;
	height: 1px;
	background: #D5D5E6 url(http://www.osu.edu/images/spacer.gif) no-repeat scroll center;
	margin-bottom: 0px;
}

div.hr hr { display: none; }

/* to hide label from Camino browser */
.label { display: none; }


/* NEWS */
.news
{
	margin: 10px 0 0 0;
	width: 430px;
	background: #EEE;
	padding: 8px;
}

.news P
{
	margin: 0;
	font-size: .85em;
}

.news a:link
{
	color: #900;
	text-decoration: underline;
}

.news a:hover
{
	color: #666;
	text-decoration: underline;
}

.news a:visited
{
	color: #666;
	text-decoration: underline;
}

#footer {
width: 100%;
padding-top: 12px;
padding-left: 10px;
border-top: 2px solid #ccc;
}

#footer p {
padding: 0px;
margin-top: 0px;
margin-bottom:0px;
font-size: .9em;
}

body
{
	margin-top: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
	margin-right: 10px;
	font-family: "trebuchet ms", Helvetica, Arial, sans-serif;
	/* font-size: .8em; */
	font-size: 85%;
	line-height: 135%;
	padding: 0px;
}

#skippagenav
{
	position: absolute;
	top: -200px;
	left: -200px;
	background: red;
	z-index: 3;
}

.hidden { display: none; }

#twocolumnleft, #twocolumnright, #threecolumn, #singlecolumn
{
	position: relative;
	width: 99%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 12px;
	background: white;
}

#content { margin-bottom: 12px; }

#content p
{
	font-family: "trebuchet ms", Helvetica, Arial, sans-serif;
	margin-top: 0px;
	margin-bottom: 7px;
	font-size: 1.1em;
}

#content H1, #content H2, #content H3
{
	font-size: 1.2em;
	font-family: "trebuchet ms", Helvetica, Arial, sans-serif;
	color: black;
	background-color: transparent;
	margin-top: 16px;
	margin-bottom: 5px;
	padding-bottom: 0px;
}

#content H2 { font-size: 1em; }
#content H3 { font-size: .94em; }
#content ul, #content ul li,#content li { font-family: "trebuchet ms", Helvetica, Arial, sans-serif; }
br.clearall { clear: both; }

/**********************************************
		Content Layouts: 2 column left
		***********************************************/

#twocolumnleft #smallcolumn
{
	float: left;
	width: 36%;
	background: white;
	margin: 0px;
	padding: 10px;
	margin-right: 2%;
}

#twocolumnleft #maincolumn
{
	float: left;
	width: 59%;
	min-width: 560px;
	background: white;
}

#twocolumnleft #maincolumn p, #twocolumnright #maincolumn p
{
	font-family: georgia, Helvetica, Arial, sans-serif;
	line-height: 135%;
	font-size: small;
	color: black;
}

#twocolumnleft #smallcolumn p, #twocolumnright #smallcolumn p
{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 135%;
	color: black;
	font-size: x-small;
}

#smallcolumn ol
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-size: 1em;
}

/* #content #smallcolumn #maincolumn h2 { margin-top: 0px; } */
#maincolumn OL LI
{
	font-family: georgia, Helvetica, Arial, sans-serif;
	list-style-type: square;
	line-height: 135%;
}